@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.theme-scroll {
  scrollbar-width: thin;
  scrollbar-color: #9333ea transparent; /* purple-600 */
}

/* WebKit browsers */
.theme-scroll::-webkit-scrollbar {
  width: 6px;
}

.theme-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.theme-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(147, 51, 234, 0.6); /* purple */
  border-radius: 9999px;
  transition: background-color 0.2s ease;
}

.theme-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(147, 51, 234, 0.85);
}
